name: CI

on:
  pull_request:
  push:
    branches:
      - main
    tags: ["*"]

permissions:
  contents: read

jobs:
  lint:
    name: Lint and Format
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Set up Bun
        uses: oven-sh/setup-bun@v2

      - run: bun install

      - name: Biome
        run: |
          bun run lint

  build:
    name: Build and test
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Set up Bun
        uses: oven-sh/setup-bun@v2

      - run: bun install

      - name: Build
        run: |
          bun run build

      - name: Test
        run: |
          bun run test
